body {
    background-color: transparent;
}


.bg-company-blue {
    background-color: rgba(0, 4, 17, 0.81);
    opacity: 97%;
}


.logo {
    height: 35px;
    padding-right: 15px;
    padding-left: 5px;
}



