

.bg-company-blue {
    background-color: rgba(0, 4, 17, 0.81);
    opacity: 97%;
}


.logo {
    height: 35px;
    padding-right: 15px;
    padding-left: 0px;
}

.top-content {
    padding: 210px 0;
}

.top-content .text {
    color: #010d3b;
}

.top-content .text h1 {
    margin-top: 25px;
    color: #010d3b;
}

.top-content .description {
    margin: 30px 0 10px 0;
}

.top-content .description p {
    opacity: 0.8;
}

.top-content .top-big-link {
    margin-top: 45px;
}


